.menu-container {
    background-color: white;
    width: 350px;
    padding: 20px !important;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin:auto !important;
    position: relative;
    top:100px;
}